{% extends "base.html" %}
{% block content %}
<div class="relative overflow-x-auto">
    <div style="display: flex; justify-content: space-between; align-items: end;">
        <h1 class="mt-6 text-3xl font-extrabold text-gray-900 dark:text-white">
            {{userId}}
            <span class="mt-6 font-extrabold text-gray-900 dark:text-white" style="font-size: 22px;">
                's Joined Party
            </span>
        </h1>
        <a href="/mypage" class="text-green-600 hover:text-gray-800" style="font-weight: bold; font-size: 20px;"> > {{userId}}'s Party</a>
    </div>
    <hr>
    <br>
    <br>
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-s text-center text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr class="py-3">
                <th scope="col-6" class="py-3 bg-gray-100">
                    제목
                </th>
                <th scope="col-1" class="py-3">
                    인원
                </th>
                <th scope="col-2" class="py-3 bg-gray-100">
                    파티장
                </th>
                <th scope="col-1" class="py-3">
                    모집기한
                </th>
            </tr>
        </thead>
        <tbody>
            {% for party in partyList %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="w-2/6 py-4 font-medium text-gray-900" style="text-indent: 20px;">
                    <a href="{{ url_for('getPartyDetail', partyId=party._id) }}">{{party.title}}</a>
                </td>
                <td class="w-1/6 text-center">
                    {{party.member}}/{{party.people}}
                </td>
                <td class="w-2/6 text-center">
                    {{party.userId}}
                </td>
                <td class="w-1/6 text-center">
                    {{party.closeDate}}
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <a class="pagination-previous">Previous</a>
        <a class="pagination-next">Next page</a>
        <ul class="pagination-list">
            <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
            <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
            <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
        </ul>
    </nav>
</div>
{% endblock %}