{% extends "base.html" %}
{% block title %}
    Party register
{% endblock %}
{% block head %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
    <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/datepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>

    <script>
        function updateParty(partyId) {
            var title = $('#title').val()
            var people = $('#people').val()
            var member = $('#member').val()
            var startDate = $('#startDate').val()
            var endDate = $('#endDate').val()
            var closeDate = $('#closeDate').val()
            var chatUrl = $("#chatUrl").val()
            var content = $("#content").val()
            doc =  {"title" : title, "people":people, "member": member,
                    "startDate":startDate, "endDate": endDate, "closeDate":closeDate,
                    "chatUrl":chatUrl,"content":content, "partyId":partyId }
            console.log(doc)

            $.ajax({
                type: "POST",
                url: "/update",
                data: {"title" : title, "people":people, "member": member,
                       "startDate":startDate, "endDate": endDate, "closeDate":closeDate,
                       "chatUrl":chatUrl,"content":content, "partyId":partyId },
                success: function (response) {
                    alert('수정 완료')
                    window.location.assign('/mypage');
                }
            })
        }

    </script>
{% endblock %}
{% block content %}

    <div class="isolate mt-6">
        <form action="#" method="POST">
            <div class="text-left">
                <h1 class="mt-6 text-3xl font-extrabold text-gray-900 dark:text-white">
                    Update Party
                </h1>
            </div>
            <hr><br>
            <!--  class="mx-auto mt-5 max-w-xl sm:mt-20" -->
            <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
                <div class="sm:col-span-2">
                    <label for="company" class=" block text-sm font-semibold leading-6 text-gray-900 ">
                        제목
                    </label>
                    <input value="{{party.title}}" type="text" name="company" id="title"
                            class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>


                <div class="sm:col-span-2" style="display: flex; justify-content: space-between;">
                    <div class="sm:col-span-2" style="width: 31%;">
                        <label class="block text-sm font-semibold leading-6 text-gray-900">
                            정원
                        </label>
                        <input value="{{party.people}}" type="text" name="num" id="people"
                        class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">

                    </div>
                    <div class="sm:col-span-2" style="width: 31%;">
                        <label class="block text-sm font-semibold leading-6 text-gray-900">
                            파티원
                        </label>
                        <input value="{{party.member}}" type="text" name="num" id="member"
                        class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">

                    </div>
                    <div class="sm:col-span-2" style="width: 31%;">
                        <label value="{{party.chatUrl}}" for="email" class="block text-sm font-semibold leading-6 text-gray-900">
                            오픈톡방
                        </label>
                        <input value="{{party.chatUrl}}" type="text" id="chatUrl"
                        class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>


                <div class="sm:col-span-2" style="display: flex; justify-content: space-between;">
                    <div style="width: 31%;">
                        <label class="block text-sm font-semibold leading-6 text-gray-900">시작일자</label>
                        <div class="relative max-w-sm">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path
                                        d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                </svg>
                            </div>
                            <input value="{{party.startDate}}" 
                                datepicker datepicker-format="yyyy/mm/dd" type="text" id="startDate"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Select date">
                        </div>
                    </div>
                    <div style="width: 31%;">
                        <label for="email" class="block text-sm font-semibold leading-6 text-gray-900">종료일자</label>
                        <div class="relative max-w-sm flex-1">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path
                                        d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                </svg>
                            </div>
                            <input value="{{party.endDate}}" 
                                datepicker datepicker-format="yyyy/mm/dd" type="text" id="endDate"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Select date">
                        </div>
                    </div>
                    <div style="width: 31%;">
                        <label for="email" class="block text-sm font-semibold leading-6 text-gray-900">마감기한</label>
                        <div class="relative max-w-sm">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path
                                        d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                </svg>
                            </div>
                            <input value="{{party.closeDate}}"
                                datepicker datepicker-format="yyyy/mm/dd" type="text" id="closeDate"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Select date">
                        </div>
                    </div>

                </div>

                <div class="sm:col-span-2">
                    <label for="message" class="block text-sm font-semibold leading-6 text-gray-900">내용</label>
                    <div class="mt-2.5">
                        <textarea name="message" id="content" rows="4"
                            class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">{{party.content}}
                        </textarea>
                    </div>
                </div>

            </div>



            <div class="flex mt-10 flex-1 m-10" style="justify-content: space-between;">
                    <button type="button" id="registBtn" onclick="updateParty(`{{party._id}}`)"  style="width: 47%;"
                        class="inline-flex items-center justify-center px-4 py-2 text-base font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800">
                        수정하기
                    </button>

                    <a href="/mypage" type="button" id="cancelBtn" onclick="cancel()"  style="width: 47%;"
                        class="inline-flex items-center justify-center px-4 py-2 text-base font-medium text-center text-white bg-gray-400 rounded-lg hover:bg-gray-500 hover:text-white">
                        취소하기
                    </a>

            </div>

        </form>
    </div>
{% endblock %}