<!DOCTYPE html>
<html>
<head>
    <title>partylist</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.4/css/bulma.min.css"/>
    <style>
        .login_box {
            margin: 0 auto;
            width: 600px;

        }
        .list{
        }

        .wrap {
            width: 600px;
            margin: 0 auto;
        }

    </style>

</head>
<body>
<div class="wrap">
    <div>

    </div>
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
  <a class="pagination-previous">Previous</a>
  <a class="pagination-next">Next page</a>
  <ul class="pagination-list">

    <li><a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a></li>
    <li><a class="pagination-link" aria-label="Goto page 2">2</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a class="pagination-link" aria-label="Goto page 3">3</a></li>
  </ul>
</nav>
</div>


</body>
</html>
